* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #918D8D;
}

.App{
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-image: url("../../assets/login/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.login-box{
    width: 23%;
    height: 75%;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.35);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.login-header{
    text-align: center;
}

.header-text{
    font-weight: 200;
}
.header-img{
    width:230px;
    height: 200px;
}

.login-inputs{
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    width: 90%;
    height: 25%;
    /*background: red;*/
}
.input{
    height: 50px;
    background: #F8F8F8;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    text-indent: 10px;
}

.login-footer{
    /*background: green;*/
    width: 90%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.login-recover-pass a{
    color:#09CAF6;
    text-decoration: none;
    font-size: 14px;
}

.checkBox{
    color: #918D8D;
}

.login-button{
    width: 90%;
    height: 12%;
}

.button-acessar {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 0;
    background:#009BE4;
    color: #fff;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;
}
.button-acessar:hover{
    opacity: 1;
}


