

.box-menu{
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .box-item-children{
    background: pink;
    align-self: flex-start;
    width:100%;
     
  }

  .item-children-button{
    background: #fff;
    padding: 10px;
    
    border:none;
    cursor: pointer;
    width: 100%; 
  }