
.menu-box{
    display: flex;
    flex-direction: column;
}

.menu-button-box{
    width: 100%;
    background: #fff;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.menu-child-box{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.menu-button-box button{
    border: none;
    background: #fff;
    margin-left: 5px;
    text-align: start;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    width: 80%;
    height: 30px;
    cursor: pointer;
    
}

.children{
    
}
