

.box-menu{
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .box-item-children{
    background: #fff;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    width:100%;
    
  }


  .item-children-button{
    background: #fff;
    padding: 10px;
    opacity: 0.6;
    transition: 0.6s;
    border:none;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
  }
.child-buttons{
  width: 100%;
  
}
.child-column{
  width: 15px;
  height: 10px;
}
.child-buttons button{
  text-align: start;
  opacity: 0.6;
  transition: 0.3s;
}

  .child-buttons:hover{
    opacity: 1;
    background: #eee;
    
  }