
.select-box-colapsed{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 }

.select-search{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 35px;
    padding: 5px;
    border: 1px solid rgb(214, 218, 219);
    border-radius: 15px;
}

.select-search input{
    border: none;
    width: 100%;
    height: 100%;
    background: transparent;
}


.select-users-find{
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
}