.menu-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    
}

.menu-perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    height: 20%;
    width: 95%;
    border-bottom: 2px solid rgba(238,238,238, 0.6)
}

.perfil-pic{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100px;
}

.perfil-name{
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-evenly;
    
}
.curso{
    font-size: 16px;
    font-weight: 600;
    color: #888;
}
.name{
    font-size: 14px;
}

.icon{
    width: 15px;
    height: 15px;
    background: transparent;
    cursor: pointer;
    border: none;
}


.admin{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: tomato;
}

.menu-lists{
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
}

