.dashboard-box{
    width: 100%;
    height: 100%;
    flex:1;
    background: #fff;
        
}
.menu-container{
    background: #fff;
    width: 25%;
    height: 100%;
    margin-top: 10%;  
}

.dashboard-body{
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;

}


.dash-container{
    width: 100%;
    height: 100%;
    margin-top: 10%;  
    background:#eee;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.dash-header-container{
    width: 95%;
    background: transparent;
    height: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.footer{
    background: #fff;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.footer h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.footer-buttons{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.footer-buttons button{
    border: none;
    border-radius: 15px;
    height: 35px;
    width: 25%;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
    background: #fff;
}

.footer-buttons button:hover{
    opacity: 1;
    font-weight: bold;
}

.dash-body-container{
    display: flex;
    background: #eee;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 90%;
}


.center{
    position: relative;
}

.welcome-user{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.welcome-text{
    font-size: 3em;
    color: #888;
}
.home-text{
    font-size: 16px;
    
}

.welcome-subtext{
    font-size: 16px;
    
}