

.box-body{
    display: flex;
    flex: 1;
    width: 100%;
    height: 90%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.box-inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    justify-content: space-evenly
}

.box-select{
    width: 100%;
    background: pink; 
}
.project-input{
    border: 1px solid rgb(214, 218, 219);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 10px;
}


.box-text-checkbox{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 15px;
    
    
}

.box-date-time{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    width: 100%;
   
}
.box-time{
    display: flex;
    align-items: center;
    height: 100%;
    
    
}

.box-date{
    display: flex;
    align-items: center;
    height: 100%;
 
}

.box-users{
   
    width: 100%;
    height: 20%;
    padding: 10px;
}


.box-list {
    padding: 10px;
}

.box-list ul{
    list-style: none;

}

.box-button{

    width: 100%;
    height: 10%;
}

.box-button button{
    width: 100%;
    height: 20px;
    background: #53bc9c;
    color:#fff;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}

.box-button button:hover{
    opacity: 1;
}