.dashboard-box{
    width: 100%;
    height: 100%;
    flex:1;
    background: #fff;
        
}
.menu-container{
    background: #fff;
    width: 25%;
    height: 100%;
    margin-top: 10%;  
}

.dashboard-body{
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;

}


.dash-container{
    width: 100%;
    height: 100%;
    margin-top: 10%;  
    background:#eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.dash-header-container{
    width: 85%;
    background: transparent;
    height: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}
.dash-header-container text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: 100;
    
}
.dash-header-container h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 100;
    
}
.dash-header-container h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 100;

}

.footer{
    background: #fff;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.footer h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.footer-buttons{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.footer-buttons button{
    border: none;
    background: #fff;
    cursor: pointer;
}

.dash-body-container{
    display: flex;
    background: #eee;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    

}


.center{
    position: relative;
}
