.box-dias{
    width: 20%;
    height: 30%;
    border: none;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    background: #FFF;
    flex-direction: column;
    justify-content: start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 10px;    
}
.box-dias h1{
    font-size: 16px;
    font-weight: 600;
}
.box-dias h3{
    font-size: 16px;
    font-weight: 100;
}
.days-row{
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    justify-content: space-evenly;
}
.days{
    display: flex;
    flex-direction: column;
}

.text-day{
    font-size: 14px;
    font-weight: 600;
}