.card-projectlist{
    background: #fff;
    height: 90%;
    width: 75%;
    -webkit-box-shadow: 1px 1px 38px -10px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 38px -10px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 38px -10px rgba(0,0,0,0.25);
    border-radius: 10px;
    padding: 15px;
}


.list{
    height: 300px;
    overflow-y: scroll;
}

.item{
    width: 100%;
    margin-bottom: 5px; 
}