.list-box{
    background: #fff;
    height: auto;
    width: 95%;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 38px -10px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 38px -10px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 38px -10px rgba(0,0,0,0.25);
    border-radius: 10px;
}

.list-header{
    height: 60px;
    padding: 10px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.list-title{
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    background: #fff;
}
.list-horas{
    width: 25%;
    display: flex;
    justify-content: space-between;
}
.list-filter{
    height: 40px;
    width: 25%;
    border-bottom: 1px solid lightgray; 
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.list-filter input{
    border: none;
}
.list-filter img{
    width: 25px;
    height: 25px;
}

.list{
    height: 300px;
    overflow-y: scroll;
}

.list-item{
    width: 100%;
    margin-bottom: 5px;
}